<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>sim - 인사 정보 등록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" type="image/png" href="/images/icon/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/metisMenu.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <!-- others css -->
    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/default-css.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr css -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--datatables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/fixedcolumns/3.2.5/css/fixedColumns.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="/"><img src="/images/icon/logo2.png" alt="logo"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li class="active">
                            <a href="javascript:void(0)" aria-expanded="true"><i
                                    class="ti-dashboard"></i><span>인사 정보</span></a>
                            <ul class="collapse">
                                <li class="active"><a href="/members/new">인사 정보 등록</a></li>
                                <li><a href="/members">사원 테이블</a></li>
                                <li><a href="index3.html">SEO dashboard</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- 사이드 바 메뉴 -->

    <!-- 서치창~ 설정버튼  -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                    <div class="search-box pull-left">
                        <form action="#">
                            <input type="text" name="search" placeholder="Search..." required>
                            <i class="ti-search"></i>
                        </form>
                    </div>
                </div>
                <!-- profile info & task notification -->
                <div class="col-md-6 col-sm-4 clearfix">
                    <ul class="notification-area pull-right">
                        <li id="full-view"><i class="ti-fullscreen"></i></li>
                        <li id="full-view-exit"><i class="ti-zoom-out"></i></li>
                        <li class="dropdown">
                            <i class="ti-bell dropdown-toggle" data-toggle="dropdown">
                                <span>2</span>
                            </i>
                            <div class="dropdown-menu bell-notify-box notify-box">
                                <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                <div class="nofity-list">
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                        <div class="notify-text">
                                            <p>You have Changed Your Password</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                        <div class="notify-text">
                                            <p>New Commetns On Post</p>
                                            <span>30 Seconds ago</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                        <div class="notify-text">
                                            <p>Some special like you</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-comments-smiley btn-info"></i></div>
                                        <div class="notify-text">
                                            <p>New Commetns On Post</p>
                                            <span>30 Seconds ago</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-key btn-primary"></i></div>
                                        <div class="notify-text">
                                            <p>Some special like you</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                        <div class="notify-text">
                                            <p>You have Changed Your Password</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb"><i class="ti-key btn-danger"></i></div>
                                        <div class="notify-text">
                                            <p>You have Changed Your Password</p>
                                            <span>Just Now</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="dropdown">
                            <i class="fa fa-envelope-o dropdown-toggle" data-toggle="dropdown"><span>3</span></i>
                            <div class="dropdown-menu notify-box nt-enveloper-box">
                                <span class="notify-title">You have 3 new notifications <a href="#">view all</a></span>
                                <div class="nofity-list">
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/images/author/author-img1.jpg" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/images/author/author-img2.jpg" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">When you can connect with me...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/images/author/author-img3.jpg" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">I missed you so much...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/images/author/author-img4.jpg" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Your product is completely Ready...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/images/author/author-img2.jpg" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/images/author/author-img1.jpg" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                    <a href="#" class="notify-item">
                                        <div class="notify-thumb">
                                            <img src="/images/author/author-img3.jpg" alt="image">
                                        </div>
                                        <div class="notify-text">
                                            <p>Aglae Mayer</p>
                                            <span class="msg">Hey I am waiting for you...</span>
                                            <span>3:15 PM</span>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="settings-btn">
                            <i class="ti-settings"></i>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!-- /서치창~ 설정버튼 -->

        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">인사 정보</h4>
                        <ul class="breadcrumbs pull-left">
                            <li><a href="/">인사 정보</a></li>
                            <li><span>인사 정보 등록</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right">
                        <img class="avatar user-thumb" src="/images/author/avatar.png" alt="avatar">
                        <h4 class="user-name dropdown-toggle" data-toggle="dropdown">sim<i class="fa fa-angle-down"></i>
                        </h4>
                        <div class="dropdown-menu">
                            <a class="dropdown-item" href="#">Message</a>
                            <a class="dropdown-item" href="#">Settings</a>
                            <a class="dropdown-item" href="#">Log Out</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <div class="main-content-inner">
            <!-- market value area start -->
            <div class="row mt-5 mb-5">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-center">
                                <h4 class="header-title mb-0">기본 정보</h4>
                                <button type="button" class="btn btn-flat btn-outline-dark mb-3" onclick="regi()">사원 등록</button>
                            </div>
                            <div class="single-table">
                                <table id="member-table" name="member-table"
                                       class="data-tables row-border order-column text-center">
                                    <thead>
                                    <tr>
                                        <th>사원번호</th>
                                        <th>이름</th>
                                        <th>직책</th>
                                        <th>부서</th>
                                        <th>입사일자</th>
                                        <th>이메일</th>
                                        <th>주소</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr th:each="member : ${members}">
                                        <td th:text="${member.number}"></td>
                                        <td th:text="${member.name}"></td>
                                        <td th:text="${member.position}"></td>
                                        <td th:text="${member.department}"></td>
                                        <td th:text="${member.hire}"></td>
                                        <td th:text="${member.email}"></td>
                                        <td th:text="${member.address}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- market value area end -->
            <div class="row mt-5 mb-5">
                <div class="col-12">
                    <div class="card" id="info" style="display: none">
                        <div class="card-body">
                            <form action="/members/new" method="post">
                                <div class="d-sm-flex justify-content-between align-items-center">
                                    <h4 class="header-title mb-0">상세 정보</h4>
                                </div>
                                <div class="row">
                                    <div class="login-form-body col-md-3 mt-5 mb-3">
                                        <img class="card-img-top img-fluid" src="/images/card/card-img1.jpg"
                                             alt="image">
                                        <div class="custom-file">
                                            <input type="file" class="custom-file-input" id="inputGroupFile01">
                                            <label class="custom-file-label" for="inputGroupFile01">Choose file</label>
                                        </div>
                                    </div>
                                    <div class="login-form-body col-md-4  mt-md-5 mb-3">
                                        <div class="form-gp">
                                            <label for="number">사원번호</label>
                                            <input type="text" id="number" name="number" maxlength="8"
                                                   onkeypress="onlyNumber();"
                                                   style="width: 35%">
                                            <div class="text-danger"></div>
                                        </div>
                                        <div class="form-gp">
                                            <label for="name">성명</label>
                                            <input type="text" id="name" name="name" style="width: 35%">
                                            <div class="text-danger"></div>
                                        </div>
                                        <div class="form-gp">
                                            <label for="pw">비밀번호</label>
                                            <input type="password" name="pw" id="pw" style="width: 50%">
                                            <div class="text-danger"></div>
                                        </div>
                                        <div class="form-gp">
                                            <label for="email">Email</label>
                                            <input type="email" name="email" id="email" style="width: 50%">
                                            <div class="text-danger"></div>
                                        </div>

                                        <div style="display: inline">
                                            <div class="form-gp">
                                                <label for="jumin">주민등록번호</label>
                                                <input type="text" id="jumin" name="jumin" onkeyup="setjumin(this)"
                                                       size="10"
                                                       maxlength="14" style="width: 70%" onkeypress="onlyNumber()">
                                            </div>
                                        </div>
                                        <div style="display: inline">
                                            <label class="form-gp">성별</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="sex" class="custom-control-input" name="sex"
                                                       value="남">
                                                <label class="custom-control-label" for="sex">남</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="sex1" class="custom-control-input" name="sex"
                                                       value="여">
                                                <label class="custom-control-label" for="sex1">여</label>
                                            </div>
                                            <div class="text-danger"></div>
                                        </div>
                                        <br>
                                        <div class="form-gp">
                                            <label for="address">주소</label>
                                            <input type="text" id="address" name="address" style="bottom: 30px">
                                        </div>
                                    </div>
                                    <div class="login-form-body col-md-4 mt-md-5 mb-3">
                                        <div class="form-gp" style="display: inline">
                                            <label for="department">부서</label>
                                            <select id="department" name="department" value="hid"
                                                    class="btn btn-flat btn-light dropdown-toggle" style="width:120px;">
                                                <option value="hid" hidden="hidden"></option>
                                                <option value="개발">개발</option>
                                                <option value="기획">기획</option>
                                                <option value="영업">영업</option>
                                            </select>
                                        </div>
                                        <br><br>
                                        <div class="form-gp" style="display: inline">
                                            <label for="position">직위</label>
                                            <select id="position" name="position" value="hidpo"
                                                    class="btn btn-flat btn-light dropdown-toggle" style="width:120px;">
                                                <option value="hidpo" hidden="hidden"></option>
                                                <option value="부장">부장</option>
                                                <option value="차장">차장</option>
                                                <option value="과장">과장</option>
                                                <option value="대리">대리</option>
                                                <option value="주임">주임</option>
                                                <option value="사원">사원</option>
                                            </select>
                                        </div>
                                        <br><br>
                                        <div class="form-gp" style="display: inline">
                                            <label for="status">상태</label>
                                            <select id="status" name="status" value="hidst"
                                                    class="btn btn-flat btn-light dropdown-toggle" style="width:120px;">
                                                <option value="hidst" hidden="hidden"></option>
                                                <option value="재직">재직</option>
                                                <option value="휴직">휴직</option>
                                                <option value="퇴직">퇴직</option>
                                            </select>
                                        </div>
                                        <div><br>
                                            <label for="hire"
                                                   class="col-form-label">입사일자</label>
                                            <input class="form-control" type="date" value="2020-09-08" id="hire"
                                                   style="width: 50%">
                                        </div>
                                        <div style="bottom: 20px">
                                            <label for="resign" class="col-form-label">퇴사일자</label>
                                            <input class="form-control" type="date" value="" id="resign"
                                                   style="width: 50%">
                                        </div>
                                    </div>

                                </div>
                                <div class="submit-btn-area">
                                    <button id="form_submit" type="submit">가입하기<i class="ti-arrow-right"></i></button>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
    <!-- main content area end -->
    <!-- footer area start-->
    <footer>
        <div class="footer-area">
            <p>© Copyright 2018. All right reserved. Template by <a href="https://colorlib.com/wp/">Colorlib</a>.</p>
        </div>
    </footer>
    <!-- footer area end-->
</div>
<!-- page container area end -->
<!-- offset area start -->
<div class="offset-area">
    <div class="offset-close"><i class="ti-close"></i></div>
    <ul class="nav offset-menu-tab">
        <li><a class="active" data-toggle="tab" href="#activity">Activity</a></li>
        <li><a data-toggle="tab" href="#settings">Settings</a></li>
    </ul>
    <div class="offset-content tab-content">
        <div id="activity" class="tab-pane fade in show active">
            <div class="recent-activity">

            </div>
        </div>
        <div id="settings" class="tab-pane fade">
            <div class="offset-settings">
                <h4>General Settings</h4>
            </div>
        </div>
    </div>
</div>
<script>
    //주민등록번호 정규식
    function setjumin(obj) {
        ju = obj.value;
        ju = ju.replace("-", "");
        if (ju.length > 6) {
            ju1 = ju.substring(0, 6);
            ju2 = ju.substring(6, 7);
            for (i = 1; i < ju.substring(6).length && i < 7; i++) {
                ju2 = ju2 + "*";
            }
            obj.value = ju1 + "-" + ju2;
        }
    }

    //숫자만 입력
    function onlyNumber() {
        if ((event.keyCode < 48) || (event.keyCode > 57))
            event.returnValue = false;
    }
</script>
<style>
    select{
        text-align-last:right;
        padding-left: 10px;
    }
    option{
        text-align-last:right;
        padding-left: 30px;
    }
</style>
<!-- offset area end -->
<!-- jquery latest version -->
<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/metisMenu.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.5/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<!-- start chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<!-- start highcharts js -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- start zingchart js -->
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<!-- all line chart activation -->
<script src="/js/line-chart.js"></script>
<!-- all pie chart -->
<script src="/js/pie-chart.js"></script>
<!-- others plugins -->
<script src="/js/plugins.js"></script>
<script src="/js/scripts.js"></script>
<!--datatables 옵션 -->
<script>
    $.fn.DataTable.ext.pager.numbers_no_ellipses = function (page, pages) {
        var numbers = [];
        var buttons = $.fn.DataTable.ext.pager.numbers_length;
        var half = Math.floor(buttons / 2);

        var _range = function (len, start) {
            var end;

            if (typeof start === "undefined") {
                start = 0;
                end = len;
            } else {
                end = start;
                start = len;
            }
            var out = [];
            for (var i = start; i < end; i++) {
                out.push(i);
            }

            return out;
        };


        if (pages <= buttons) {
            numbers = _range(0, pages);

        } else if (page <= half) {
            numbers = _range(0, buttons);

        } else if (page >= pages - 1 - half) {
            numbers = _range(pages - buttons, pages);

        } else {
            numbers = _range(page - half, page + half + 1);
        }

        numbers.DT_el = 'span';
        if (page == 0) {
            return [numbers, "next", "last"];
        } else if (page == 1) {
            return ["previous", numbers, "next", "last"];
        } else {
            return ["first", "previous", numbers, "next", "last"];
        }

    };

    $(document).ready(function () {
        $.fn.dataTable.ext.pager.numbers_length = 5;

        $("#member-table").DataTable({
            "dom": '<"pull-left"f>i<"pull-right"l>tp',
            // "bStateSave": true,
            "lengthMenu": false,
            "filter": false,
            "info": true,
            "ordering": true,
            "scrollX": true,
            "scrollY": false,
            "fixedHeader": false,
            "scrollCollapse": true,
            "autoWidth": false,
            "pagingType": "numbers_no_ellipses",
            "lengthChange": false,
            "fixedColumns": {
                "leftColumns": 6,
                "heightMatch": "none"
                // "terader-collapse" : "separate"
            },
            "language": {
                "lengthMenu": "_MENU_",
                "zeroRecords": "데이터가 없습니다.",
                "info": "total:_TOTAL_",
                "infoEmpty": "total: 0",
                "paginate": {
                    "first": false,
                    "last": false,
                    "previous": "<",
                    "next": ">"
                }
            }
        })
    });

    $("info").click(function(){
        if(open_del == -1){
            table.columns([13]).visible(true);
            open_del *= -1;
        }else{
            table.columns([13]).visible(false);
            open_del *= -1;
        }
    });
    function regi() {
        var x = document.getElementById("info");
        if (x.style.display === "none") {
            x.style.display = "block";
        } else {
            x.style.display = "none";
        }
    }
</script>

<style>
    table {
        width: 100%;
        margin: 0 auto;
        clear: both;
        border-collapse: collapse !important;
        border-spacing: 0;
    }

    table td {
        height: 40px !important;
    }

    div.dataTables_wrapper div.dataTables_length select {
        width: 60px;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    .dataTables_paginate {
       text-align: center !important;
    }

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0px;
        margin-left: 0px;
        border: 0px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: 0px;
    }

    th {
        white-space: nowrap;
    }
</style>
</body>

</html>
