<!doctype html>
<html class="no-js" lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>sim - 인사 정보 등록</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/css/datepicker.min.css" rel="stylesheet" type="text/css" media="all">
    <link rel="shortcut icon" type="image/png" href="/images/icon/favicon.ico">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/font-awesome.min.css">
    <link rel="stylesheet" href="/css/themify-icons.css">
    <link rel="stylesheet" href="/css/metisMenu.css">
    <link rel="stylesheet" href="/css/owl.carousel.min.css">
    <link rel="stylesheet" href="/css/slicknav.min.css">
    <!-- amchart css -->
    <link rel="stylesheet" href="https://www.amcharts.com/lib/3/plugins/export/export.css" type="text/css" media="all"/>
    <!-- others css -->
    <link rel="stylesheet" href="/css/typography.css">
    <link rel="stylesheet" href="/css/default-css.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="stylesheet" href="/css/responsive.css">
    <!-- modernizr css -->
    <script src="/js/vendor/modernizr-2.8.3.min.js"></script>
    <!--datatables-->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/fixedcolumns/3.2.5/css/fixedColumns.bootstrap4.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.18/css/dataTables.bootstrap4.min.css">
</head>

<body>
<!--[if lt IE 8]>
<p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade
    your browser</a> to improve your experience.</p>
<![endif]-->
<!-- preloader area start -->
<div id="preloader">
    <div class="loader"></div>
</div>
<!-- preloader area end -->
<!-- page container area start -->
<div class="page-container">
    <!-- sidebar menu area start -->
    <div class="sidebar-menu">
        <div class="sidebar-header">
            <div class="logo">
                <a href="/"><img src="/images/icon/logo2.png" alt="logo"></a>
            </div>
        </div>
        <div class="main-menu">
            <div class="menu-inner">
                <nav>
                    <ul class="metismenu" id="menu">
                        <li class="active">
                            <a href="javascript:void(0)" aria-expanded="true"><i
                                    class="ti-dashboard"></i><span>인사 정보</span></a>
                            <ul class="collapse">
                                <li class="active"><a href="/members/new">인사 정보 등록</a></li>
                                <li><a href="/members">근태 관리</a></li>
                                <li><a href="">급여 관리</a></li>
                                <li><a href="">인사/근태/급여기준 설정</a></li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
    <!-- 사이드 바 메뉴 -->

    <!-- 서치창~ 설정버튼  -->
    <div class="main-content">
        <!-- header area start -->
        <div class="header-area">
            <div class="row align-items-center">
                <!-- nav and search button -->
                <div class="col-md-6 col-sm-8 clearfix">
                    <div class="nav-btn pull-left">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
                <!-- profile info & task notification -->
                <div class="col-md-6 col-sm-4 clearfix">
                    <ul class="notification-area pull-right">
                        <li id="full-view"><i class="ti-fullscreen"></i></li>
                        <li id="full-view-exit"><i class="ti-zoom-out"></i></li>

                    </ul>
                </div>
            </div>
        </div>
        <!-- /서치창~ 설정버튼 -->

        <!-- page title area start -->
        <div class="page-title-area">
            <div class="row align-items-center">
                <div class="col-sm-6">
                    <div class="breadcrumbs-area clearfix">
                        <h4 class="page-title pull-left">인사 정보</h4>
                        <ul class="breadcrumbs pull-left">
                            <li><a href="/">인사 정보</a></li>
                            <li><span>인사 정보 등록</span></li>
                        </ul>
                    </div>
                </div>
                <div class="col-sm-6 clearfix">
                    <div class="user-profile pull-right" style="display: inline!important;">
                        <h4 class="user-name">sim / 로그아웃</h4>
                    </div>
                </div>
            </div>
        </div>
        <!-- page title area end -->
        <div class="main-content-inner">
            <!-- market value area start -->
            <div class="row mt-5 mb-5">
                <div class="col-12">
                    <!--                    <div class="card">-->
                    <!--                        <div class="card-body">-->
                    <!--                            <div class="d-sm-flex align-items-center" id="search_box">-->
                    <!--                                <h4 class="header-title mb-0">검색어</h4>&nbsp;-->
                    <!--                                <div class="search-box pull-left">-->
                    <!--                                    <form action="#">-->
                    <!--                                        <select name="catgo" class="btn btn-flat btn-light dropdown-toggle" style="width: 20%">-->
                    <!--                                            <option value="title">성 명</option>-->
                    <!--                                            <option value="id">사원번호</option>-->
                    <!--                                            <option value="address2">부서</option>-->
                    <!--                                        </select>&nbsp;-->
                    <!--                                        <input type="text" name="search" placeholder="Search..." required>-->
                    <!--                                        <button style="color: white"><i class="ti-search"></i></button>-->
                    <!--                                    </form>-->
                    <!--                                </div>-->
                    <!--                            </div>-->
                    <!--                        </div>-->
                    <!--                    </div>-->
                    <br>
                    <div class="card">

                        <div class="card-body">
                            <div class="d-sm-flex justify-content-between align-items-center">
                                <h4 class="header-title mb-0">기본 정보</h4>
                                <button type="button" class="btn btn-flat btn-outline-dark mb-3" onclick="regi();">사원
                                    등록
                                </button>
                            </div>
                            <div class="single-table">
                                <table id="member-table" name="member-table"
                                       class="data-tables row-border order-column text-center">
                                    <thead>
                                    <tr>
                                        <th>사원번호</th>
                                        <th>이름</th>
                                        <th>직책</th>
                                        <th>부서</th>
                                        <th>입사일자</th>
                                        <th>이메일</th>
                                        <th>주소</th>
                                        <th>체온</th>
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr id="infotable" th:each="member : ${members}">
                                        <td name="numid" id="numid" th:text="${member.number}"></td>
                                        <td th:text="${member.name}"></td>
                                        <td th:text="${member.position}"></td>
                                        <td th:text="${member.department}"></td>
                                        <td th:text="${member.hire}"></td>
                                        <td th:text="${member.email}"></td>
                                        <td th:text="${member.address}"></td>
                                        <td th:text="${member.bodyheat+'ºC'}"></td>
                                    </tr>
                                    </tbody>
                                </table>
                                <!--<button class="btn btn-flat btn-outline-dark mb-3" onclick="doExcelDownloadProcess()">Excel 다운로드</button>-->
                            </div>
                            <a href="http://localhost:8080/download/hrms.xlsx" class="btn btn-primary">Download</a>
                            <div id="result">
                            </div>
                        </div>

                    </div>
                </div>
            </div>
            <!-- market value area end -->
            <div class="row mt-5 mb-5">
                <div class="col-12">
                    <div class="card" id="info" style="display: none">
                        <div class="card-body">
                            <form action="/members/new" method="post"  onsubmit="return white()">
                                <div class="d-sm-flex justify-content-between align-items-center">
                                    <h4 class="header-title mb-0">상세 정보</h4>
                                </div>
                                <div class="row">

                                    <div class="login-form-body col-md-3 mt-5 mb-3">
                                        <img class="card-img-top img-fluid" src="/images/card/card-img1.jpg"
                                             alt="image">
                                        <div class="custom-file">
                                            <form action="" method="post" enctype="multipart/form-data">
                                                <input type="file" class="custom-file-input" name="reviewImg"
                                                       id="reviewImageFileOpenInput" accept="image/png, image/jpeg">
                                                <label class="custom-file-label" for="reviewImageFileOpenInput">Choose
                                                    file</label>
                                            </form>
                                        </div>
                                    </div>

                                    <div class="login-form-body col-md-5  mt-md-5 mb-3">
                                        <div class="form-gp">
                                            <label for="number">사원번호</label>
                                            <input type="text" id="number" name="number" maxlength="8"
                                                   onkeypress="onlyNumber();"
                                                   style="width: 30%">
                                            <div class="text-danger"></div>
                                        </div>
                                        <div class="form-gp">
                                            <label for="name">성명</label>
                                            <input type="text" id="name" name="name" style="width: 30%">
                                            <div class="text-danger"></div>
                                        </div>
                                        <div class="form-gp">
                                            <label for="pw">비밀번호</label>
                                            <input type="password" name="pw" id="pw" style="width: 32%">
                                            <div class="text-danger"></div>
                                        </div>
                                        <div class="form-gp">
                                            <label for="email">Email</label>
                                            <input type="email" name="email" id="email" style="width: 32%">
                                            <div class="text-danger"></div>
                                        </div>

                                        <div style="display: inline">
                                            <div class="form-gp">
                                                <label for="jumin">주민등록번호</label>
                                                <input type="text" id="jumin" name="jumin" onkeyup="setjumin(this)"
                                                       size="10"
                                                       maxlength="14" style="width: 32%" onkeypress="onlyNumber()">
                                            </div>
                                        </div>
                                        <div style="display: inline">
                                            <label class="form-gp">성별</label>&nbsp;&nbsp;&nbsp;&nbsp;
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="sex" class="custom-control-input" name="sex"
                                                       value="남">
                                                <label class="custom-control-label" for="sex">남</label>
                                            </div>
                                            <div class="custom-control custom-radio custom-control-inline">
                                                <input type="radio" id="sex1" class="custom-control-input" name="sex"
                                                       value="여">
                                                <label class="custom-control-label" for="sex1">여</label>
                                            </div>
                                            <div class="text-danger"></div>
                                        </div>
                                        <br>
                                        <div class="form-gp">
                                            <input type="hidden" id="address" name="address_all" value="">
                                            <label for="address1">주소</label>
                                            <div style="display: inline">
                                                <input type="text" id="address1" name="address"
                                                       style="bottom: 30px; width: 60%" readonly>
                                                <button type="button" class="btn btn-flat btn-outline-dark mb-3"
                                                        onclick="execDaumPostcode()">주소찾기
                                                </button>
                                            </div>
                                            <input type="text" id="address2" name="address"
                                                   style="bottom: 30px; width: 60%" value="">
                                        </div>
                                    </div>
                                    <div class="login-form-body col-md-4 mt-md-5 mb-3">
                                        <div class="form-gp" style="display: inline">
                                            <label for="department">부서</label>
                                            <select id="department" name="department" value="hid"
                                                    class="btn btn-flat btn-light dropdown-toggle" style="width:120px;">
                                                <option value="hid" hidden="hidden"></option>
                                                <option value="개발">개발</option>
                                                <option value="기획">기획</option>
                                                <option value="영업">영업</option>
                                            </select>
                                        </div>
                                        <br><br>
                                        <div class="form-gp" style="display: inline">
                                            <label for="position">직책</label>
                                            <select id="position" name="position" value="hidpo"
                                                    class="btn btn-flat btn-light dropdown-toggle" style="width:120px;">
                                                <option value="hidpo" hidden="hidden"></option>
                                                <option value="부장">부장</option>
                                                <option value="차장">차장</option>
                                                <option value="과장">과장</option>
                                                <option value="대리">대리</option>
                                                <option value="주임">주임</option>
                                                <option value="사원">사원</option>
                                            </select>
                                        </div>
                                        <br><br>
                                        <div class="form-gp" style="display: inline">
                                            <label for="status">상태</label>
                                            <select id="status" name="status" value="hidst"
                                                    class="btn btn-flat btn-light dropdown-toggle" style="width:120px;">
                                                <option value="hidst" hidden="hidden"></option>
                                                <option value="재직">재직</option>
                                                <option value="휴직">휴직</option>
                                                <option value="퇴직">퇴직</option>
                                            </select>
                                        </div>
                                        <div><br>
                                            <label for="hire"
                                                   class="col-form-label">입사일자</label>
                                            <input class="form-control" type="date" name="hire" id="hire"
                                                   style="width: 50%">
                                        </div>
                                        <div style="bottom: 20px">
                                            <label for="resign" class="col-form-label">퇴사일자</label>
                                            <input class="form-control" type="date" name="resign" id="resign"
                                                   style="width: 50%" >
                                        </div>
                                        <div class="form-gp">
                                            <input type="text" name="bodyheat" id="bodyheat" style="width: 32%"
                                                   hidden="hidden">
                                            <div class="text-danger"></div>
                                        </div>
                                        <br><br><br><br><br>
                                        <div style="text-align:right!important" class="col-lg-6 submit-btn-area">

                                            <button id="form_submit" class="btn btn-flat btn-outline-dark mb-3"
                                                    type="submit">등 록<i class="ti-arrow-right"></i>
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            


        </div>
    </div>
    <!-- main content area end -->
    <!-- footer area start-->
    <!-- footer area end-->
</div>
<!-- page container area end -->
<!-- offset area start -->

<script>

    //파일업로드
    var formData = new FormData($("#formId")[0]);
    $.ajax({
        type: 'post',
        url: "/excelupload",
        data: formData,
        processData: false,
        contentType: false,
        success: function (html) {
            alert("파일 업로드를 성공하였습니다.");
        },
        error: function (error) {
            alert("파일 업로드에 실패하였습니다.");
            console.log(error);
            console.log(error.status);
        }
    });

    function setjumin(obj) {
        ju = obj.value;
        ju = ju.replace("-", "");
        if (ju.length > 6) {
            ju1 = ju.substring(0, 6);
            ju2 = ju.substring(6, 7);
            for (i = 1; i < ju.substring(6).length && i < 7; i++) {
                ju2 = ju2 + "*";
            }
            obj.value = ju1 + "-" + ju2;
        }
    }

    //숫자만 입력
    function onlyNumber() {
        if ((event.keyCode < 48) || (event.keyCode > 57))
            event.returnValue = false;
    }
</script>
<style>
    select {
        text-align-last: right;
        padding-left: 10px;
    }

    option {
        text-align-last: right;
        padding-left: 30px;
    }
</style>
<!-- offset area end -->
<!-- jquery latest version -->
<script src="/js/datepicker.js"></script>
<script src="/js/vendor/jquery-2.2.4.min.js"></script>
<!-- bootstrap 4 js -->
<script src="/js/popper.min.js"></script>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/owl.carousel.min.js"></script>
<script src="/js/metisMenu.min.js"></script>
<script src="/js/jquery.slimscroll.min.js"></script>
<script src="/js/jquery.slicknav.min.js"></script>
<script src="https://cdn.datatables.net/1.10.19/js/jquery.dataTables.js"></script>
<script src="https://cdn.datatables.net/fixedcolumns/3.2.5/js/dataTables.fixedColumns.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/jquery.dataTables.min.js"></script>
<script src="https://cdn.datatables.net/1.10.18/js/dataTables.bootstrap4.min.js"></script>
<!-- start chart js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
<!-- start highcharts js -->
<script src="https://code.highcharts.com/highcharts.js"></script>
<!-- start zingchart js -->
<script src="https://cdn.zingchart.com/zingchart.min.js"></script>
<script>
    zingchart.MODULESDIR = "https://cdn.zingchart.com/modules/";
    ZC.LICENSE = ["569d52cefae586f634c54f86dc99e6a9", "ee6b7db5b51705a13dc2339db3edaf6d"];
</script>
<!-- all line chart activation -->
<script src="/js/line-chart.js"></script>
<!-- all pie chart -->
<script src="/js/pie-chart.js"></script>
<!-- others plugins -->
<script src="/js/plugins.js"></script>
<script src="/js/scripts.js"></script>
<script src="https://t1.daumcdn.net/mapjsapi/bundle/postcode/prod/postcode.v2.js"></script>
<script type="text/javascript"
        src="//dapi.kakao.com/v2/maps/sdk.js?appkey=	c5e8a858eebc10782f551651f1e142d8"></script>

<!--datatables 옵션 -->
<script>
    $.fn.DataTable.ext.pager.numbers_no_ellipses = function (page, pages) {
        var numbers = [];
        var buttons = $.fn.DataTable.ext.pager.numbers_length;
        var half = Math.floor(buttons / 2);

        var _range = function (len, start) {
            var end;

            if (typeof start === "undefined") {
                start = 0;
                end = len;
            } else {
                end = start;
                start = len;
            }
            var out = [];
            for (var i = start; i < end; i++) {
                out.push(i);
            }

            return out;
        };


        if (pages <= buttons) {
            numbers = _range(0, pages);

        } else if (page <= half) {
            numbers = _range(0, buttons);

        } else if (page >= pages - 1 - half) {
            numbers = _range(pages - buttons, pages);

        } else {
            numbers = _range(page - half, page + half + 1);
        }

        numbers.DT_el = 'span';
        if (page == 0) {
            return [numbers, "next", "last"];
        } else if (page == 1) {
            return ["previous", numbers, "next", "last"];
        } else {
            return ["first", "previous", numbers, "next", "last"];
        }

    };

    $(document).ready(function () {
        $.fn.dataTable.ext.pager.numbers_length = 5;

        $("#member-table").DataTable({
            "dom": '<"pull-left"f>i<"pull-right"l>tp',
            //"bStateSave": true,
            "pageLength": 5,
            "lengthMenu": [5, 10, 20, 30],
            "filter": false,
            "info": true,
            "searching": true,
            "ordering": true,
            "scrollX": true,
            "scrollY": false,
            "fixedHeader": false,
            "scrollCollapse": true,
            "autoWidth": false,
            "pagingType": "numbers_no_ellipses",
            "lengthChange": false,
            "fixedColumns": {
                "leftColumns": 6,
                "heightMatch": "none"
                // "terader-collapse" : "separate"
            },
            "language": {
                "lengthMenu": "_MENU_",
                "zeroRecords": "데이터가 없습니다.",
                "info": "total:_TOTAL_",
                "infoEmpty": "total: 0",
                "paginate": {
                    "first": false,
                    "last": false,
                    "previous": "<",
                    "next": ">"
                }
            }
        })
    });

    //빈칸 정규
    function white() {
        var idw= document.getElementById("number").value;
        if(idw==""){
            alert("사원번호를 입력해주세요");
            document.getElementById('number').focus();
            return false;
        }
        var pww= document.getElementById("pw").value;
        if(pww==""){
            alert("비밀번호를 입력해주세요");
            document.getElementById('pw').focus();
            return false;
        }
        var pwwc= document.getElementById("jumin").value;
        if(pwwc==""){
            alert("주민등록번호를 입력해주세요");
            document.getElementById('jumin').focus();
            return false;
        }
        var namew= document.getElementById("name").value;
        if(namew==""){
            alert("이름을 입력해주세요");
            document.getElementById('name').focus();
            return false;
        }
        var emailw= document.getElementById("email").value;
        if(emailw==""){
            alert("이메일을 입력해주세요");
            document.getElementById('email').focus();
            return false;
        }
        var phonew= document.getElementById("sex").value;
        if(phonew==""){
            alert("성별을 선택해주세요");
            document.getElementById('sex').focus();
            return false;
        }
        var birthw= document.getElementById("address").value;
        if(birthw==""){
            alert("주소를 입력해주세요");
            document.getElementById('address').focus();
            return false;
        }
        var birthww= document.getElementById("address2").value;
        if(birthww==""){
            alert("주소를 입력해주세요");
            document.getElementById('address2').focus();
            return false;
        }
        var birthwww= document.getElementById("department").value;
        if(birthwww=="hid"){
            alert("부서를 선택해주세요");
            document.getElementById('department').focus();
            return false;
        }
        var addressw= document.getElementById("position").value;
        if(addressw=="hidpo"){
            alert("직책를 선택해주세요");
            document.getElementById('position').focus();
            return false;
        }
        var addressw2= document.getElementById("status").value;
        if(addressw2=="hidst"){
            alert("직책를 선택해주세요");
            document.getElementById('status').focus();
            return false;
        }
        var hir= document.getElementById("hire").value;
        if(hir==""){
            alert("입사일자를 입력해주세요");
            document.getElementById('hire').focus();
            return false;
        }
    }

    //row값 클릭 시 상세정보
    window.onload= $("#example-table-1").click(function(){

        var str = ""

        var tdArr = new Array();    // 배열 선언

        // 현재 클릭된 Row(<tr>)
        var tr = $(this);
        var td = tr.children();

        // tr.text()는 클릭된 Row 즉 tr에 있는 모든 값을 가져온다.
        console.log("클릭한 Row의 모든 데이터 : "+tr.text());

        // 반복문을 이용해서 배열에 값을 담아 사용할 수 도 있다.
        td.each(function(i){
            tdArr.push(td.eq(i).text());
        });

        console.log("배열에 담긴 값 : "+tdArr);

        // td.eq(index)를 통해 값을 가져올 수도 있다.
        var no = td.eq(0).text();
        var userid = td.eq(1).text();
        var name = td.eq(2).text();
        var email = td.eq(3).text();


            str +=    " * 클릭된 Row의 td값 = No. : <font color='red'>" + no + "</font>" +
            ", 아이디 : <font color='red'>" + userid + "</font>" +
            ", 이름 : <font color='red'>" + name + "</font>" +
            ", 이메일 : <font color='red'>" + email + "</font>";

        $("#ex1_Result1").html(" * 클릭한 Row의 모든 데이터 = " + tr.text());
        $("#ex1_Result2").html(str);
        $('#number').val(no);
        $('#name').val(name);
        $('#email').val(email);
        $('#address').val(userid);
    });


    function regi() {
        var x = document.getElementById("info");
        if (x.style.display === "none") {
            x.style.display = "block";
            document.getElementById('number').focus();
        } else {
            x.style.display = "none";
        }
    }

    //카카오주소
    function execDaumPostcode() {
        new daum.Postcode({
            oncomplete: function (data) {
                // 팝업에서 검색결과 항목을 클릭했을때 실행할 코드를 작성하는 부분.

                // 도로명 주소의 노출 규칙에 따라 주소를 조합한다.
                // 내려오는 변수가 값이 없는 경우엔 공백('')값을 가지므로, 이를 참고하여 분기 한다.
                var fullRoadAddr = data.roadAddress; // 도로명 주소 변수
                var extraRoadAddr = ''; // 도로명 조합형 주소 변수

                // 법정동명이 있을 경우 추가한다. (법정리는 제외)
                // 법정동의 경우 마지막 문자가 "동/로/가"로 끝난다.
                if (data.bname !== '' && /[동|로|가]$/g.test(data.bname)) {
                    extraRoadAddr += data.bname;
                }
                // 건물명이 있고, 공동주택일 경우 추가한다.
                if (data.buildingName !== '' && data.apartment === 'Y') {
                    extraRoadAddr += (extraRoadAddr !== '' ? ', ' + data.buildingName : data.buildingName);
                }
                // 도로명, 지번 조합형 주소가 있을 경우, 괄호까지 추가한 최종 문자열을 만든다.
                if (extraRoadAddr !== '') {
                    extraRoadAddr = ' (' + extraRoadAddr + ')';
                }
                // 도로명, 지번 주소의 유무에 따라 해당 조합형 주소를 추가한다.
                if (fullRoadAddr !== '') {
                    fullRoadAddr += extraRoadAddr;
                }

                // 우편번호와 주소 정보를 해당 필드에 넣는다.
                //document.getElementById('zip').value = data.zonecode; //5자리 새우편번호 사용
                document.getElementById('address1').value = fullRoadAddr;
                document.getElementById('address2').focus();
            }
        }).open();
    }

    //주소
    $('input[name=address]').map(function () {
        address_all += $(this).val();
    });
    //업로드
    const elImage = document.querySelector("#reviewImageFileOpenInput");
    elImage.addEventListener("change", (evt) => {
        const image = evt.target.files[0];
        if (!validImageType(image)) {
            console.warn("invalide image file type");
            return;
        }
    });

</script>

<style>
    table {
        width: 100%;
        margin: 0 auto;
        clear: both;
        border-collapse: collapse !important;
        border-spacing: 0;
    }

    table td {
        height: 40px !important;
    }

    div.dataTables_wrapper div.dataTables_length select {
        width: 60px;
    }

    div.dataTables_wrapper {
        margin: 0 auto;
    }

    .dataTables_paginate {
        text-align: center !important;
    }

    table.dataTable thead .sorting,
    table.dataTable thead .sorting_asc,
    table.dataTable thead .sorting_desc {
        background: none;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button {
        padding: 0px;
        margin-left: 0px;
        border: 0px;
    }

    .dataTables_wrapper .dataTables_paginate .paginate_button:hover {
        border: 0px;
    }

    th {
        white-space: nowrap;
    }
</style>
</body>

</html>
